.features {
    padding-top: 2em;
    padding-bottom: 0.3em;
    text-align: center;
    color: rgb(51, 51, 51);
}
.features-heading { 
    font-size: clamp(1.8rem, 1.3424rem + 1.3813vw, 3rem);
    line-height: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    color: #9A5F4F;
}
.features-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
}
.feature-box {
    margin-bottom: 2.8em;
}
.feature-box-heading {
    margin-bottom: 0.5em;
    font-size: clamp(1.5rem, 1.4134rem + 0.2388vw, 1.7rem);
    
}
.feature-box-para {
    font-size: clamp(1rem, 0.9784rem + 0.0597vw, 1.05rem);
}

.col-1, .col-2 {
    width: 85%;
    max-width: 325px;
    
}

@media (min-width: 900px) {
    .features-flex {
        flex-direction: row;
        align-items: start;
        text-align: left;
    }
    .col-1, .col-2 {
        max-width: 45%;
        padding-bottom: 1.5em;
    }
    
}