.hero {
    background: url(../../public/images/Makima_feeding_Denji_udon.webp) rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    height: 100vh;
    background-position: center;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero-heading {
    font-size: clamp(3.1rem, 1.4361rem + 3.8033vw, 6rem);
    line-height: 1.05em;
    margin-bottom: 0.15em;
    min-width: 320px;

}

.hero-para {
    font-size: clamp(0.95rem, 0.8923rem + 0.2564vw, 1.1rem);
    width: 90%;
    font-weight: 500;
    min-width: 270px;
    max-width: 400px;
    margin-bottom: 1.2em;
}

@media (min-width: 673px) {
    .hero-content {
        text-align: center;
    }
    .hero-para {
        width: 80%;
        max-width: 651px;
        margin: 0 auto 1.5em auto;
    }
}
 

