.pricing {
    background-color: #9A5F4F;
    padding: 1.4em 0;
    color: white;
}
.pricing .container {
    display: flex;
    flex-direction: column;
}
.pricing-heading {
    font-size: clamp(2.5rem, 2.36rem + 0.5333vw, 3rem);
    font-weight: 800;
    text-align: center;

}
.pricing-para {
    font-size: clamp(1rem, 0.9784rem + 0.0597vw, 1.05rem);
    text-align: center;
    margin-bottom: 1em;
}

.pricing .button {
    margin: auto;
    margin-bottom: 0.7em;
}